nltk
tqdm
pandas
matplotlib
jupyter
scikit-learn
pytorch::pytorch
pytorch::torchvision
pytorch::pytorch-cuda
huggingface::transformers
huggingface::datasets
conda-forge::torchmetrics
conda-forge::wandb
